@import './mainPage.scss', './clients.scss';
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal
}
.navbar-container {
    background-color: rgb(36, 38, 53);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}
.main-container {
    margin-top: 8vh;
}

.nav-button {
    color: aliceblue;
    background-color: transparent;
    margin: 0 10px;
    border: none;
    font-size: 1.3rem;
    height: 100%;
    padding: 0px 50px;
    transition: 0.2s;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover {
        background-color: lighten(rgb(36, 38, 53), 10%);
        transition: 0.2s;
    }
    &:active {
        background-color: darken(rgb(36, 38, 53), 10%);
    }
}



